
.vscode/settings.json
.vscode/launch.json
*.ttf
*.otf
bin/img/bg0.png
bin/img/bg1.png
bin/img/bg2.png
bin/img/bg3.png
bin/img/glow.png
bin/img/logo.png
bin/img/title.png
bin/libpatch.lua
bin/mods/test.lua
bin/mods/test2.lua
bin/reloader.lua
bin/rl_intro.lua
bin/SLUS_209.46
bin/System/index.lua
*.elf
*.o
*.adp
*.wav
bin/audio/adpenc.exe
bin/audio/back.adpcm
bin/audio/convert.bat
bin/audio/nav.adpcm
bin/audio/select.adpcm
bin/audio/loading.adpcm
bin/audio/test/adpenc.exe
bin/audio/test/convert.bat
bin/test.pdf
bin/System/noindex.lua
*.a
*.irx

obj/
asm/
